@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'brand-roman';
    src: url('./assets/fonts/helveticaneuecyr-roman-webfont.woff');
}
@font-face {
    font-family: 'brand-bold';
    src: url('./assets/fonts/helveticaneuecyr-bold-webfont.woff');
}
@font-face {
    font-family: 'brand-light';
    src: url('./assets/fonts/helveticaneuecyr-light-webfont.woff');
}
@font-face {
    font-family: 'brand-medium';
    src: url('./assets/fonts/helveticaneuecyr-medium-webfont.woff');
}
@font-face {
    font-family: 'brand-ultralight';
    src: url('./assets/fonts/helveticaneuecyr-ultralight-webfont.woff');
}
/* Works on Firefox */
/* * {
  scrollbar-width: none;
  scrollbar-color: white white;
} */

/* Works on Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
} */